In [1]:
# import the necessary libraries

import numpy as np
import pandas as pd

In [103]:
df = pd.read_csv('C:/Users/User/Desktop/Tech Industry/Projects Bank/Project_energy/zimbabwe.csv')
df.head()

,Indicator Name,"International migrant stock, total","Children in employment, wage workers (% of children in employment, ages 7-14)","Unemployment, total (% of total labor force) (national estimate)","Unemployment, female (% of female labor force) (national estimate)","Share of youth not in education, employment or training, male (% of male youth population) (modeled ILO estimate)","Unemployment with intermediate education, male (% of male labor force with intermediate education)","Unemployment with basic education, female (% of female labor force with basic education)","Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate)","Unemployment, youth female (% of female labor force ages 15-24) (modeled ILO estimate)",...,"Net bilateral aid flows from DAC donors, Italy (current US$)","Net bilateral aid flows from DAC donors, Greece (current US$)","Net bilateral aid flows from DAC donors, Estonia (current US$)","Net bilateral aid flows from DAC donors, Czechia (current US$)","Net bilateral aid flows from DAC donors, Belgium (current US$)","Stocks traded, total value (% of GDP)",Market capitalization of listed domestic companies (current US$),"Control of Corruption: Percentile Rank, Lower Bound of 90% Confidence Interval","Personal remittances, received (% of GDP)","Portfolio equity, net inflows (BoP, current US$)"
0,1960,387173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
col_to_keep = [
    "Population, total",
    "Life expectancy at birth, total (years)",
    "Electric power consumption (kWh per capita)",
    "Forest area (sq. km)",
    "Electric power transmission and distribution losses (% of output)",
    "Access to electricity (% of population)",
    "Renewable electricity output (% of total electricity output)",
    "GDP per capita (current US$)",
    "Human capital index (HCI) (scale 0-1)",
    "Literacy rate, adult total (% of people ages 15 and above)",
    "Unemployment, total (% of total labor force) (national estimate)",
    "Carbon dioxide (CO2) emissions from Transport (Energy) (Mt CO2e)",
    "Carbon dioxide (CO2) emissions from Industrial Combustion (Energy) (Mt CO2e)"
]

In [105]:
# Create a new DataFrame with only the specified columns
df_new = df[col_to_keep]

# Display the first few rows of the new DataFrame
df_new.head()

,"Population, total","Life expectancy at birth, total (years)",Electric power consumption (kWh per capita),Forest area (sq. km),Electric power transmission and distribution losses (% of output),Access to electricity (% of population),Renewable electricity output (% of total electricity output),GDP per capita (current US$),Human capital index (HCI) (scale 0-1),"Literacy rate, adult total (% of people ages 15 and above)","Unemployment, total (% of total labor force) (national estimate)",Carbon dioxide (CO2) emissions from Transport (Energy) (Mt CO2e),Carbon dioxide (CO2) emissions from Industrial Combustion (Energy) (Mt CO2e)
0,3809389,53.235,NaN,NaN,NaN,NaN,NaN,276.419762,NaN,NaN,NaN,NaN,NaN
1,3930401,53.619,NaN,NaN,NaN,NaN,NaN,279.016467,NaN,NaN,NaN,NaN,NaN
2,4055959,54.071,NaN,NaN,NaN,NaN,NaN,275.545586,NaN,NaN,NaN,NaN,NaN
3,4185877,54.549,NaN,NaN,NaN,NaN,NaN,277.005679,NaN,NaN,NaN,NaN,NaN
4,4320006,54.994,NaN,NaN,NaN,NaN,NaN,281.744516,NaN,NaN,NaN,NaN,NaN

In [106]:
df_new.shape

(64, 13)

In [107]:
df_new.isnull().sum()

Population, total                                                                0
Life expectancy at birth, total (years)                                          1
Electric power consumption (kWh per capita)                                     20
Forest area (sq. km)                                                            31
Electric power transmission and distribution losses (% of output)               20
Access to electricity (% of population)                                         33
Renewable electricity output (% of total electricity output)                    38
GDP per capita (current US$)                                                     0
Human capital index (HCI) (scale 0-1)                                           60
Literacy rate, adult total (% of people ages 15 and above)                      58
Unemployment, total (% of total labor force) (national estimate)                52
Carbon dioxide (CO2) emissions from Transport (Energy) (Mt CO2e)                10
Carbon dioxide (CO2) emissions from Industrial Combustion (Energy) (Mt CO2e)    10
dtype: int64

In [108]:
df_new.dtypes

Population, total                                                                 int64
Life expectancy at birth, total (years)                                         float64
Electric power consumption (kWh per capita)                                     float64
Forest area (sq. km)                                                            float64
Electric power transmission and distribution losses (% of output)               float64
Access to electricity (% of population)                                         float64
Renewable electricity output (% of total electricity output)                    float64
GDP per capita (current US$)                                                    float64
Human capital index (HCI) (scale 0-1)                                           float64
Literacy rate, adult total (% of people ages 15 and above)                      float64
Unemployment, total (% of total labor force) (national estimate)                float64
Carbon dioxide (CO2) emissions from Transport (Energy) (Mt CO2e)                float64
Carbon dioxide (CO2) emissions from Industrial Combustion (Energy) (Mt CO2e)    float64
dtype: object

In [109]:
df_new = df_new.interpolate(method='linear', limit_direction='both')

In [110]:
df_new.isnull().sum()

Population, total                                                               0
Life expectancy at birth, total (years)                                         0
Electric power consumption (kWh per capita)                                     0
Forest area (sq. km)                                                            0
Electric power transmission and distribution losses (% of output)               0
Access to electricity (% of population)                                         0
Renewable electricity output (% of total electricity output)                    0
GDP per capita (current US$)                                                    0
Human capital index (HCI) (scale 0-1)                                           0
Literacy rate, adult total (% of people ages 15 and above)                      0
Unemployment, total (% of total labor force) (national estimate)                0
Carbon dioxide (CO2) emissions from Transport (Energy) (Mt CO2e)                0
Carbon dioxide (CO2) emissions from Industrial Combustion (Energy) (Mt CO2e)    0
dtype: int64

In [89]:
df_new = df_new.fillna(0)

In [90]:
df_new.isnull().sum()

Population, total                                                               0
Life expectancy at birth, total (years)                                         0
Electric power consumption (kWh per capita)                                     0
Forest area (sq. km)                                                            0
Electric power transmission and distribution losses (% of output)               0
Access to electricity (% of population)                                         0
Renewable electricity output (% of total electricity output)                    0
GDP per capita (current US$)                                                    0
Human capital index (HCI) (scale 0-1)                                           0
Literacy rate, adult total (% of people ages 15 and above)                      0
Unemployment, total (% of total labor force) (national estimate)                0
Carbon dioxide (CO2) emissions from Transport (Energy) (Mt CO2e)                0
Carbon dioxide (CO2) emissions from Industrial Combustion (Energy) (Mt CO2e)    0
dtype: int64

In [111]:
df_new.head()

,"Population, total","Life expectancy at birth, total (years)",Electric power consumption (kWh per capita),Forest area (sq. km),Electric power transmission and distribution losses (% of output),Access to electricity (% of population),Renewable electricity output (% of total electricity output),GDP per capita (current US$),Human capital index (HCI) (scale 0-1),"Literacy rate, adult total (% of people ages 15 and above)","Unemployment, total (% of total labor force) (national estimate)",Carbon dioxide (CO2) emissions from Transport (Energy) (Mt CO2e),Carbon dioxide (CO2) emissions from Industrial Combustion (Energy) (Mt CO2e)
0,3809389,53.235,662.361072,188266.8,6.052193,28.2,46.667379,276.419762,0.410366,78.0,10.8,2.0795,2.6908
1,3930401,53.619,662.361072,188266.8,6.052193,28.2,46.667379,279.016467,0.410366,78.0,10.8,2.0795,2.6908
2,4055959,54.071,662.361072,188266.8,6.052193,28.2,46.667379,275.545586,0.410366,78.0,10.8,2.0795,2.6908
3,4185877,54.549,662.361072,188266.8,6.052193,28.2,46.667379,277.005679,0.410366,78.0,10.8,2.0795,2.6908
4,4320006,54.994,662.361072,188266.8,6.052193,28.2,46.667379,281.744516,0.410366,78.0,10.8,2.0795,2.6908

In [112]:
df_new.to_csv('C:/Users/User/Desktop/Tech Industry/Projects Bank/Project_energy/countries_Data/Zimbabwe.csv', index=False)